<template>
    <el-container class="layout-container-demo" style="height: 600px">
      <el-aside width="200px">
        <el-scrollbar>
          <el-menu
              default-active="1"
              @open="handleOpen"
              @close="handleClose"
            >
              <el-menu-item index="1">
                <el-icon><folder-opened /></el-icon>
                <span>导入</span>
              </el-menu-item>
              <el-menu-item index="2">
                <el-icon><Calendar /></el-icon>
                <span>日期</span>
              </el-menu-item>
              <el-menu-item index="3">
                <el-icon><Location /></el-icon>
                <span>位置</span>
              </el-menu-item>
            </el-menu>
        </el-scrollbar>
      </el-aside>
  
      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <div class="">
            <el-row :gutter="20">
              <el-col :span="4">
                <div class="grid-content ep-bg-purple">
                  <el-slider v-model="value1" />
                </div>
              </el-col>
              <el-col :span="8">
              <div class="grid-content ep-bg-purple">
                <el-radio-group v-model="radio1">
                  <el-radio-button label="年" />
                  <el-radio-button label="月" />
                  <el-radio-button label="日" />
                  <el-radio-button label="所有照片" />
                </el-radio-group>
              </div>
              </el-col>
              <el-col :span="4"></el-col>
              <el-col :span="6">
              <div class="grid-content ep-bg-purple"> 
                <el-input
                  v-model="input1" 
                  class="w-50 m-2" 
                  placeholder="搜索" 
                  :prefix-icon="Search" />
                </div>
              </el-col>
              <el-col :span="2">
              <div class="grid-content ep-bg-purple"> 
                <el-switch 
                  v-model="value2" 
                  size="large" 
                  :active-action-icon="Moon" 
                  :inactive-action-icon="Sunny" />
              </div>
              </el-col>
            </el-row>
          </div>
        </el-header>
  
        <el-main>
          <el-scrollbar>
            <el-carousel :interval="4000" type="card" height="300px" >
              <el-carousel-item v-for="url in urls" :ey="url">
                <img :src="url" class="image">
              </el-carousel-item>
            </el-carousel>
  
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
              <el-tab-pane label="全部元数据" name="first">
                <template #label>
                  <span class="custom-tabs-label">
                    <el-icon><document /></el-icon>
                    <span>全部元数据</span>
                  </span>
                </template>
                <div v-for="o in meta" :key="o" class="text item">
                  {{ o }}
                </div>
              </el-tab-pane>
  
              <el-tab-pane label="相机设置" name="second">
                <template #label>
                  <span class="custom-tabs-label">
                    <el-icon><camera-filled /></el-icon>
                    <span>相机设置</span>
                  </span>
                </template>
                <div v-for="o in camera" :key="o" class="text item">
                  {{ o }}
                </div>
              </el-tab-pane>
  
              <el-tab-pane label="位置" name="third">
                <template #label>
                  <span class="custom-tabs-label">
                    <el-icon><location-filled /></el-icon>
                    <span>位置</span>
                  </span>
                </template>
                <img src="https://img1.baidu.com/it/u=3696408997,1517389931&fm=253&fmt=auto&app=138&f=JPEG?w=647&h=452" class="image">
                <div v-for="o in location" :key="o" class="text item">
                  {{ o }}
                </div>
              </el-tab-pane>
            </el-tabs>
          </el-scrollbar>
        </el-main>
      </el-container>
    </el-container>
  </template>
  
  <script lang="ts" setup>
  import { ref } from 'vue'
  import { Menu as IconMenu, FolderOpened, Document, Calendar, CameraFilled, Location, LocationFilled, Search, Sunny, Moon } from '@element-plus/icons-vue'
  import type { TabsPaneContext } from 'element-plus'
  
  const handleOpen = (key: string, keyPath: string[]) => {
    console.log(key, keyPath)
  }
  const handleClose = (key: string, keyPath: string[]) => {
    console.log(key, keyPath)
  }
  
  const value1 = ref(0)
  const radio1 = ref('年')
  const input1 = ref('')
  const value2 = ref(true)
  
  const urls = [
    'https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg',
    'https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg',
    'https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg',
    'https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg',
    'https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg',
    'https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg',
    'https://fuss10.elemecdn.com/2/11/6535bcfb26e4c79b48ddde44f4b6fjpeg.jpeg',
  ]
  
  const meta = ["图像的创建或修改时间	2022:12:18 12:17:48", "图像的高度	3013px", "图像的宽度	3018px", ]
  const camera = ["相机制造商	Apple", "相机型号	iPhone 14", "曝光时间	1/10309", "光圈值	f/1.5", "ISO感光度	50", "焦距	5.7 mm", "镜头型号	iPhone 14 back dual wide camera 5.7mm f/1.5"]
  const location = ["GPS信息存储的指针位置	2270", "纬度数值	30.216244444444445", "经度数值	120.01788333333333", "海拔数值	20.343410486537554 m", "速度数值	0.7900000214601024", "拍摄方向数值	165.02777076495835", "目标方向数值	165.02777076495835", "水平定位误差	22.8909851594569"]
  
  const activeName = ref('first')
  
  const handleClick = (tab: TabsPaneContext, event: Event) => {
    console.log(tab, event)
  }
  </script>
  
  <style scoped>
  .layout-container-demo .el-header {
    position: relative;
    background-color: var(--el-color-primary-light-7);
    color: var(--el-text-color-primary);
  }
  .layout-container-demo .el-aside {
    color: var(--el-text-color-primary);
    background: var(--el-color-primary-light-8);
  }
  .layout-container-demo .el-menu {
    border-right: none;
    color: var(--el-text-color-primary);
    background: var(--el-color-primary-light-8);
  }
  .layout-container-demo .el-main {
    padding: 0;
  }
  .layout-container-demo .toolbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
  }
  
  .el-row {
    margin-top: 10px;
  }
  .el-row:last-child {
    margin-bottom: 0;
  }
  .el-col {
    border-radius: 4px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  
  img{
    width:100%;
    height:inherit;
  }
  .demo-tabs {
    margin: 10px 10px;
  }
  .demo-tabs > .el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
  }
  .demo-tabs .custom-tabs-label .el-icon {
    vertical-align: middle;
  }
  .demo-tabs .custom-tabs-label span {
    vertical-align: middle;
    margin-left: 4px;
  }
  
  </style>
  